
# Inbuilt Functions

`dir()` Displays the functions associated with the object

In [3]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

`enumerate()` adds a counter to an iterator and returns it in a form of enumerate object.

In [5]:
fruits = ['apple','banana','mango']

In [8]:
for idx,ele in enumerate(fruits):
    print(idx,ele,end=",")
print()
for idx,ele in enumerate(fruits,5):
    print(idx,ele,end=",")

0 apple,1 banana,2 mango,
5 apple,6 banana,7 mango,

 ### Aggregate functions

In [11]:
nums = [1,2,3,4,5]

In [12]:
sum(nums)

15

In [16]:
print(max(nums))
print(min(nums))

5
1

### Map

**Map** applies a function to all items in the iterable

In [17]:
def add_one(x):
    return x+1

In [22]:
map_ele = map(add_one,nums)
print(map_ele)
list(map_ele)

<map object at 0x0000019C781B86A0>

[2, 3, 4, 5, 6]

In [21]:
list(map(lambda x:x+1,nums))

[2, 3, 4, 5, 6]

### Filter
**Filter** creates an iterable from elements of iterable for which function return **True**

In [23]:
def is_even(x):
    return x%2==0

In [24]:
filter_ele = filter(is_even,nums)
print(filter_ele)
print(list(filter_ele))

<filter object at 0x0000019C78266700>
[2, 4]

In [27]:
list(filter(lambda x:x%2==0,nums))

[2, 4]

### Reduce
- **Reduce** performs some computation on a list and returning the result
- It applies a rolling computation to sequential pairs of values in a list

In [28]:
def product(x,y):
    return x*y

In [30]:
from functools import reduce

In [31]:
reduce(product,nums)

120

#### Approach
eg: [1,2,3,4,5]
- [2,3,4,5]
- [6,4,5]
- [24,5]
- 120

In [35]:
eval('3^4')

7